<!--NOT IN USE-->


<!DOCTYPE html>


{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}


<html>
  <head>
    <meta charset="UTF-8">
    <title>Index</title>
  </head>


  <script src="{% static "csv_app/p5.js" %}" type="text/javascript"></script>
  <script src="{% static "csv_app/p5.dom.js" %}" type="text/javascript"></script>
  <script src="{% static "csv_app/sketch.js" %}" type="text/javascript"></script>

  <body>
    <h1> Index !</h1>
  </body>
</html>
{% endblock %}
