<!--NOT IN USE-->

{% block head %}
<title>Search</title>
{% endblock %}


{% block body %}

<div class="container">
    <h1>Search for microRNAs given a gene_ID or transcript_ID</h1>

    {# search filters #}
    <form  id="search" method="get" action="">
        <input type="text" name="q_search" placeholder="Search" value="{{ request.GET.q }}"/>
        <input type="submit" class="btn btn-primary" value="Search"/>
    </form>


  <div class="col-md-5">
      {% for elem in data %}
        <form  id="form2" method="get" action="">
          <h3>{{ elem.mirna_name }}</h3>
          <ul>
            <li><b>Gene ID :</b> {{elem.gene_id}}</li>
            <li><b>Transcript ID :</b> {{elem.transcript_id}}</li>
            <li><b>Start binding site :</b> {{elem.bind_start}}</li>
            <li><b>Stop binding site :</b> {{elem.bind_stop}}</li>
          </ul>

          {% empty %}
          <p>Not found.</p>

        </form>
      {% endfor %}

  </div>
</div>
</div>

{% endblock %}
